* {
    box-sizing: border-box;
}

html {
    overflow: scroll;
}

html,
body{

    width: 100%;
    /*display: flex;
    flex-wrap: wrap;*/
    min-height: 100%;

}

body {
    margin: 0;
    padding: 0;
    height: fit-content; /* change min-height: 100% to*/
    height: -moz-max-content;
    background-color: #f4f5f6;
}

.header-container {

    width: 100%;
    max-width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    display: initial;
}


.page-header {

    max-width: 1310px;
    padding: 20px 10px 0;
    margin: auto;
    background-color: red;
    color: #fff;
}

.sticky-container {
    position: -webkit-sticky;
    position: sticky;
    background: red;
    z-index: 9999;
    margin-bottom: 0;
    top: -45px;
    transition: 1s ease-out;
}

.sticky-container:active {
    width: 1440px;
}

.date-div {
    width: 131px;
    margin-top: 30px;
    margin-left: 10px;
}

.log-in {
    display: inline-block;
    flex-wrap: nowrap;
    width: 210px;
    margin-top: 30px;
}

.log-in a:link,
.log-in a:visited,
.log-in a:active {
    text-decoration: none;
}

.log-in a:hover {
    text-decoration: none;
}

.in-anchor {
    display: inline-block;
    width: 80px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.sub-anchor {
    display: flex;

    width: 130px;
    color: red;
    font-size: 1.1rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #fff;
    padding: 0 10px;
}

.after {
    display: block;
    width: 8px;
    height: 14px;
    margin: auto;
}

.svg-link {
    display: block;
    width: 396px;
    fill: #fff;
    margin: auto;
}

.brand-logo-container {
}

.brand-svg {

    width: 396px;
    height: 61px;
}

.form-visual {
    display: none;
}

.nav-container {
    display: flex;
    height: 100%;
    width: 105%;
    max-width: 1310px;
    padding: 14px 0;
    margin-left: -10px;
    height: 56px;
    background-color: #fff;
    border-bottom: 2px solid #f4f5f6;
}

.nav-container li,
.list-group-item:first-child,
.list-group-item:last-child {
    display: block;
    border-radius: 0;
    border: 0;
    padding: 0;
    border-right: 1px solid #d9d9d9;
    height: fit-content;
    flex-grow: 1;
    text-align: center;
}

.nav-ul{
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.last-lgi {
    margin-right: -1px;
    z-index: 0;
}

.nav-container a:link,
.nav-container a:visited,
.nav-container a:active {
    color: #000;
    font-size: 1.15rem;
    font-weight: bolder;
    text-decoration: none;
}

.nav-container a:hover {
    text-decoration: none;
    color: red;
}

.triangle-container {
    width: 80px;
    height: 15px;
    position: relative;
    top: -20px;
    margin-right: 0;
    margin-left: auto;
}

#triangle {
    width: 80px;
    height: 0;
    margin: 0;
    border-top: 14px solid red;
    border-left: 14px solid transparent;
}

.nc-li-anchors {
    display: block;
    max-height: 30px;
    white-space: nowrap;
}

.input-group {
    width: 10%;
}


.input-group:focus-within {
    max-width: 100%;
    width: 1310px;
}

#search-icon {
    padding: 5px 15px;
    background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center center no-repeat white;
    background-size: 75% 75%;
    border: 0;
}

#search-bar {
    border: 0;
}

input:focus{
    outline: none;
}


#search-bar:focus {
    text-indent: 15px;
}

main {
    width: 100%;
    max-width: 1310px;
    height: fit-content;
    padding: 20px 10px 0;
    margin: auto;
}

.row-div-1 {
    width: 71%;
    height: fit-content;
}

.col-div-1 {
    height: 1518px;
    width: 41%;
    padding: 0 20px;
}

.rc-11 {
    margin-bottom: 4%;
}

.picture-rc-11 {
    padding-bottom: 66.7506%;
    width: 397px;
    height: 265px;
}

.img-rc-11 {
    width: 100%;
    height: auto;
}

.col-div-2 {
    height: 1518px;
    width: 59%;
    padding: 0 20px;
}

.col-div-3 {
    height: 1518px;
    width: 59%;
}

.row-div-2 {
    width: 29%;
    height: fit-content;
}

.sticky-2 {
    height: 550px;
}

.block-title {
    padding: 15px;
}

.col-contaner-c {
    width: 50%;
}

.picture-rc-12 {
    /*width: 397px;
    height: 265px;*/
}
