* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow: scroll;
}

html,
body {
    width: 100%;
    min-height: 100%;
    font-size: 15px;
    line-height: 17px;
}

body {
    margin: 0;
    padding: 0;
    height: fit-content;
    height: -moz-max-content;
    background-color: #f4f5f6;
}

a:active,
a:link,
a:visited {
    color: #000;
    line-height: 1rem;
}

.row {
    margin: 0;
}

.header-container {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    display: initial;
}

.page-header {
    max-width: 1310px;
    padding: 20px 10px 0;
    margin: auto;
    background-color: red;
    color: #fff;
}

.sticky-container {
    position: -webkit-sticky;
    position: sticky;
    background: red;
    z-index: 9999;
    margin-bottom: 0;
    top: -20px;
    transition: 1s ease-out;
    height: 90px;
}

.sticky-container:active {
    width: 1440px;
}

.sticky-2-inner {
    background-color: #f4f5f6;
    margin-bottom: 20px;
}

.date-div {
    width: 131px;
    margin-top: 30px;
    margin-left: 10px;
}

.log-in {
    display: inline-block;
    flex-wrap: nowrap;
    width: 210px;
    margin-top: 25px;
    margin-left: 10px;
}

.sub-anchor {
    display: flex;
    width: 130px;
    color: red;
    font-size: 1.1rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #fff;
    padding: 0 10px;
}

.after {
    display: block;
    width: 8px;
    height: 14px;
    margin: auto;
}

.svg-link {
    flex-shrink: 1;
    width: 396px;
    height: 61px;
    fill: #fff;
    margin: auto;
}

.brand-svg {
    width: 100%;
    height: 100%;
}

.form-visual {
    display: none;
}

.nav-container {
    display: flex;
    width: 105%;
    max-width: 1310px;
    padding: 14px 0;
    margin-left: -10px;
    height: 56px;
    background-color: #fff;
    border-bottom: 2px solid #f4f5f6;
}

.nav-container li,
.list-group-item:first-child,
.list-group-item:last-child {
    display: block;
    border-radius: 0;
    border: 0;
    padding: 0;
    border-right: 1px solid #d9d9d9;
    height: fit-content;
    flex-grow: 1;
    text-align: center;
}

.nav-ul{
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.last-lgi {
    margin-right: -1px;
    z-index: 0;
}

.triangle-container {
    width: 80px;
    height: 15px;
    position: relative;
    top: -20px;
    margin-right: 0;
    margin-left: auto;
}

#triangle {
    width: 80px;
    height: 0;
    margin: 0;
    border-top: 14px solid red;
    border-left: 14px solid transparent;
}

.nc-li-anchors {
    display: block;
    max-height: 30px;
    white-space: nowrap;
}

.input-group {
    width: 10%;
}

.input-group:focus-within {
    max-width: 100%;
    width: 1310px;
}

#search-icon {
    padding: 5px 15px;
    background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center center no-repeat white;
    background-size: 75% 75%;
    border: 0;
}

#search-bar {
    border: 0;
}

input:focus{
    outline: none;
}

#search-bar:focus {
    text-indent: 15px;
}

main {
    width: 100%;
    max-width: 1310px;
    height: fit-content;
    padding: 20px 20px;
    margin: auto;
    background-color: #fff;
}

.pos-stick-container {
    align-items: flex-start;
}

.pos-stick {
    position: -webkit-sticky;
    position: sticky;
    top: -1050px;
}

.row-div-1 {
    width: 71%;
    min-width: 670px;
    height: fit-content;
    padding: 0 0 0 20px;
}

.col-div-1 {
    height: fit-content;
    width: 41%;
    padding-left: 20px;
}

.rc-11 {
    margin-bottom: 4%;
    height: fit-content;
}

.block-title a,
.wrap a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(121, 121, 121);
    font-size: 18px;
    line-height: 2.5;
    text-transform: uppercase;
}

.row-div-2 a{
    font-weight: bolder;
    font-size: 15px;
}

.layer-container a{
    width: 100%;
    height: 100%;
    text-decoration-color: red;
}

.layer a {
    display: block;
    font: bold 15px sans-serif;
    color: #f72210;
    text-transform: uppercase;
}

.layer2 a {
    display: block;
    font: bold 15px sans-serif;
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
}

.layer3 a{
    display: block;
    font: bold 15px sans-serif;
    color: #f72210;
    text-transform: uppercase;
}

.layer4 a{
    display: block;
    font: bold 15px sans-serif;
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
}

.layer5 a {
    width: 70px;
    height: 52px;
    font-weight: bold;
    font-size: 20px;
    line-height: 58px;
    text-indent: 5px;
    text-align: center;
}

.pic-container a{
    display: block;
}

.ul-rc-13 a {
    font-size: 15px;
}

.rc-11 h3 {
    font-size: 22px;
    line-height: 22px;
}

.rc-11 h3 a {
    font-weight: bolder;
    text-decoration-color: red;
}

.rc-22 h4 a {
    font-size: 18px;
    line-height: 18px;
    font-weight: bolder;
    text-decoration-color: red;
}

.menu li a {
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 15px;
}

.nav-container a:link,
.nav-container a:visited,
.nav-container a:active {
    color: #000;
    font-size: 1.15rem;
    font-weight: bolder;
    text-decoration: none;
}

.nav-container a:hover {
    text-decoration: none;
    color: red;
}

.log-in a:link,
.log-in a:visited,
.log-in a:active,
.log-in a:hover {
    text-decoration: none;
}

.layer-container {
    position: relative;
}

.layer {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 15px 9px;
    background-color: rgba(255, 255, 255, 0.9);
}

.lp-0 {
    padding: 0;
    width: 100%;
    background: #fff;
}

.lp-1 {
    padding: 0;
    background: #fff;
}

.layer2 {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 15px 9px;
    background-color: #f72210;
}

.layer3 {
    padding: 8px 15px 9px;
    background-color: rgba(255, 255, 255, 0.9);
}

.layer4 {
    padding: 8px 15px 9px;
    background-color: #f72210;
}

.layer5 {
    background-color: rgba(255, 255, 255, 0.9);
}

.picture-rc-11,
.pic-rc-12 {
    display: block;
    width: 100%;
    height: auto;
}

.img-rc-11 {
    width: 100%;
    height: auto;
}

.col-div-2 {
    height: fit-content;
    width: 59%;
    padding-left: 50px;
}

.col-div-3 {
    height: 1518px;
    width: 59%;
}

.row-div-2 {
    width: 29%;
    min-width: 275px;
    height: fit-content;
    padding-left: 20px;
}

#flf-anchor {
    color:#555;
    line-height: 2;
    font-size: 17px;
}

.byline {
    font-weight: bold;
    font-size: 14px;
    color: #555;
}

.sticky-2 {
    width: 100%;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
}

.sticky-2::-webkit-scrollbar {
    display: none;
}

.h2 {
    font-weight: bolder;
    margin-top: 10px;
    font-size: 22px;
    line-height: 22px;
}

.h5 {
    -webkit-flex: 1;
    flex: 1;
    font-size: 15px;
    font-weight: bold;
}

.related {
    list-style: none;
    padding: 0;
}

.active {
    font-weight: normal;
    display: inline-block;
    background-color: #c2d4d7;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 13px;
}

a.active:link,
a.active:active,
a.active:visited {
    text-decoration: none;
}

.active:hover {
    background-color: #272727;
    color: #c2d4d7;
}

.block-title {
    margin: 0;
    display: inline-block;
}

.col-container {
    margin-bottom: 20px;
}

.col-container-c {
    width: 50%;
}

.picture-rc-12 {
     width: 135px;
     height: 90px;
     padding-bottom: 66.6667%;
}

section {
    margin-bottom: 20px;
}

.sticky-2 section {
    padding: 0;
}

.img-rc-12 {
     width: 135px;
     height: 90px;
}

.sticky-2-h4 {
    padding: 0 5px;
}

.pic-container {
    margin-top: 5px;
    margin-right: 10px;
}

.ul-rc-13 {
    list-style: none;
    padding: 0;
    margin: 5% 0 0 0;
    height: fit-content;
}

.anchor-rc-13 {
    display: inline-flex;
    margin: 5px 10px 0 0;
}

.img-rc-13 {
     width: 63px;
     height: 63px;
     float: left;
}

.img-empty {
    background: url(https://g.newsweek.com/www/images/opinion-headshot-bg.png) center center no-repeat;
    background-color: red;
    border-radius: 100%;
    background-size: 70%;
}

.ul-rc-13 li {
    border-top: 1px solid #ddd;
    margin: 10px 0;
    padding-top: 10px;
}

#li-rc-first {
    border: 0;
    margin-top: 0;
    padding-top: 0;
}

#li-rc-first-14 {
    border: 0;
    margin-top: 0;
    padding-top: 0;
}

.img-rc-14 {
     width: 100%;
}

.image {
    width: 135px;
    flex: none;
}

.second-list {
    width: 100%;
    height: fit-content;
    align-content: flex-end;
    margin-top: 2%;
}

.ssl-1 {
    margin-right: 20px;
    min-width: 219px;
}

.pic-rc-13-lead {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.pic-rc-13 {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.pic-rc-14 {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 65%;
    overflow: hidden;
}

.pic-rc-15 {
    display: block;
    width: 135px;
    height: 90px;
    overflow: hidden;
}

.img-rc-15-lead {
    width: 100%;
}

.img-rc-15 {
    transform: translate(-50%, 0%);
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    max-width: inherit;
}

.img-rc-16 {
    transform: translate(-50%, 0%);
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    max-width: inherit;
}

.img-rc-17 {
    position: relative;
    width: auto;
    height: 90px;
}

.wrap {
    position: relative;
    height: fit-content;
}

.lead-link {
    display: block;
    background-color: #f4f5f6;
    color: black;
    text-align: center;
    margin-bottom: 0;
    padding: 10px 10px 10px 12px;
    font: bold 18px, sans-serif;
    text-transform: uppercase;
}

.lead-link::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-left: 10px;
    background-image: url(https://g.newsweek.com/www/images/icon-arrow-right-black.svg);
}

.lead-link:hover {
    background-color: #dbdcdd;
    text-decoration: none;
}

.sponsor {
    padding-bottom: 30px;
}

.text-container {
    margin-bottom: 10px;
}

.wrap-background {
    padding-bottom: 66.75%;
}

.wb-1 {
    background: url("https://d.newsweek.com/en/full/1519889/korea-university-college-engineering.jpg?w=343&h=229&l=0&t=0&f=abfe6f03ca4ee6c12e4ec0bb62b83bf1") center center no-repeat;
    background-size: cover;
}

.wb-2 {
    background: url("https://d.newsweek.com/en/full/1515367/pfc-prague-fertility-center.jpg?w=343&h=229&f=53c53e4dec07892687c18b07f4bf2ce9") center center no-repeat;
    background-size: cover;
}

.layer-font1 {
    color: #3581f4;
    font-weight: bold;
    text-transform: uppercase;
}

.layer-font2 {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

.social svg {
    width: 25px;
    height: 25px;
}

#in-anchor {
    display: inline-block;
    width: 80px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 24px;
    padding: 5px 5px;
}

#in-anchor2 {
    color: red;
    font-size: 1.1rem;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 24px;
    padding: 5px 12px;
}

#in-anchor4 {
    display: flex;
    color: white;
    font-size: 1.1rem;
    height: fit-content;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 24px;
    background-color: red;
    padding: 5px 10px;
    width: 125px;
    justify-content: center;
}

.sign-anchor svg {
    fill: #fff;
}

.footer-brand-anchor svg {
    display: block;
    width: 236px;
    height: 36px;
    margin-right: 15px;
    margin-bottom: 12px;
    fill: #f72210;
}

#in-anchor4 svg {
    fill: white;
}

.rc-22 {
    margin: 10px 0;
    padding: 10px 5px;
    height: fit-content;
    line-height: 1.4;
    border-top: 1px #777 solid;
}

#wth-anchor {
    line-height: 14px;
}

.mid-ul {
    margin-top: 20px;
}

.info {
    padding-left: 140px;
}

.ads-maybe {
    margin-top: 15%;
}

.ssl-2 {
    width: 100%;
    height: 100%;
}

.ssl-re-size {
    width: 75%;
    height: 100%;
}

.header-ssl-2 {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d9d9d9;
    font: bold 18px sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.logo-ssl-2 {
    flex: none;
    display: block;
    width: 29px;
    height: 28px;
    background: url(https://g.newsweek.com/www/images/logo-n1.svg) center center no-repeat #f72210;
    background-size: cover;
    margin-right: 10px;
}

.header-ssl-2-2 {
    width: 100%;
    height: 40px;
    border-top: 1px solid #d9d9d9;
    margin: 15px;
    padding: 2% 0;
    font: bold 20px sans-serif;
    color: red;
    text-transform: uppercase;
}

.header-ssl-2-3 {
    width: 100%;
    height: 40px;
    border-top: 1px solid #d9d9d9;
    font: bold 20px sans-serif;
    color: red;
    text-transform: uppercase;
    margin: 15px 0;
    font-size: 16px;
}

.header-ssl-2-4 {
    width: 100%;
    height: 40px;
    border-top: 1px solid #d9d9d9;
    font: bold 20px sans-serif;
    color: red;
    text-transform: uppercase;
    margin: 15px 0;
    font-size: 16px;
}

.count-link {
    width: 100%;
    height: 100%;
    display: block;
    background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
    color:#e9212e;
}

.tul-div {
    width: 100%;
    height: fit-content;
}

.triple-container {
    width: 100%;
    height: fit-content;
    list-style: none;
}

.triple-container li {
    margin-bottom: 5%;
}

.last-x {
    flex: 1;
    width: 100%;
}

.double-img-container {
    position: relative;
    min-width: 270px;
    height: 100%;
    background-color: #f4f5f6;
    padding: 4%;
}

.di-desc {
    background-color: #f4f5f6;
    padding: 6% 4%;
}

.double-img1 {
    position: relative;
    width: 170px;
    height: fit-content;
}

.double-img2 {
    position: absolute;
    left: 40%;
    top: 12%;
    width: 170px;
    height: fit-content;
}

.last-x2 {
    flex: 1;
}

.di-background {
    background: url("https://d.newsweek.com/en/full/1525348/newsletter-promo-home-page.png?w=397&h=265&q=90&f=172a044c08b5e64f42dcb61b425487bf") center center no-repeat;
    background-size: cover;
    max-width: 191px;
    width: 48%;
}

.di-header5 {
    margin: 20px 0;
    color: #333;
    font-weight: 400;
}

.ssl-inner {
    padding-left: 40px;
    padding-right: 0;
}

.last-x2-info {
    flex: 1;
    padding: 20px;
}

.last-x2-p {
    margin: 35px 0;
}

.sign-anchor {
    display: flex;
    width: 130px;
    font-size: 1.1rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: red;
    padding: 0 10px;
}

#in-anchor3 {
    width: 115px;
    color: #fff;
    padding: 10px 15px;
}

footer {
    background-color: #fff;
    max-width: 1310px;
    margin: 0 auto;
    padding: 30px 0 30px 60px;
    border-top: 2px solid #f4f5f6;
}

.prc-13-container {
    min-width: 238px;
}

.copyright {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 12px;
}

.footer-bottom {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #d9d9d9;
}

.footer-ul {
    list-style: none;
    padding-right: 30px;
    margin: 0;
}

.social {
    font-size: 26px;
    vertical-align: top;
    text-align: center;
    display: block;
    font-family: sans-serif;
    cursor: pointer;
    margin: 0 5px;
}

.fb-left {
    padding: 0;
}

.fb-right {
    padding: 0;
}

.footer-links-menu {
    padding: 0;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu li {
    border-right: 1px solid #d9d9d9;
    padding-right: 10px;
    margin: 6px 16px 6px 0;
}

.footer-links-edition label {
    margin-top: 6px;
    margin-right: 15px;
}

[class*="col-4"] {
    min-width: 287px;
}

@media only screen and (min-width: 991px) and (max-width: 1024px) {
    .media-1 {
        height: fit-content;
        flex-wrap: wrap;
    }

    .hd-media {
        display: none;
    }

    .row-div-1,
    .row-div-2 {
        width: 100%;
        flex-grow: 1;
    }

    .ads-maybe{
        display: none;
    }

    .second-list {
        flex-wrap: wrap;
    }

    [class*="col-4"] {
        width: 50%;
        max-width: 100%;
        margin-bottom: 0;
    }

    .h5{
        padding-right: 0;
    }

    [class*="col-sm-4"] {
        width: 100%;
        max-width: 100%;
    }

    .ssl-1{
        flex-direction: column;
        width: 50%;
        max-width: 50%;
    }

    .double-img1 {
        position: relative;
        left: 0;
        margin-right: 45px;
    }

    .prc-13-container {
        flex-basis: 50%;
        margin: auto;
        max-width: 50%;
    }

    .ssl-re-size {
        min-width: 100%;
        max-width: 100%;
    }

    .layer-container{
        margin-bottom: 30px;
        width: 50%;
        max-width: 50%;
        flex: 0 0 50%;
    }

    .rc-11 .layer-container{
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .lc-media-3 {
        margin-bottom: 30px;
        width: 33.3%;
        max-width: 33.3%;
        flex: 0 0 33.3%;
    }
    .ssl-inner {
        width: 35%;
        max-width: 35%;
        flex: 0 0 35%;
    }

    [class*="col-sm-8"] {
        width: 65%;
        max-width: 65%;
        flex: 0 0 65%;
    }
}

@media only screen and (max-width: 991px) {
    .date-div{
        display: none;
    }

    .hd-media {
        display: none;
    }

    .col-div-1,
    .col-div-2,
    .row-div-1,
    .row-div-2 {
        position: relative;
        top: 0;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0;
        padding: 1%;
    }

    .row-div-1 {
        min-width: 490px;
    }

    .layer-container{
        margin-bottom: 30px;
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .lc-media-3 {
        margin-bottom: 30px;
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .triple-container{
        padding-left: 0;
    }

    .pic-rc-15,
    .pic-rc-15 img{
        width: 258px;
        height: 172px;
    }

    .tul-div,
    .lc-media-x,
    .ssl-inner,
    .fb-left,
    .fb-right,
    .di-desc,
    .ads-maybe,
    .col-container,
    .col-container-c {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .ads-maybe div,
    .di-desc div,
    .last-x2-info h2,
    .last-x2-info p,
    .last-x2-info a{
        width: fit-content;
        margin: 20px auto;
    }
    .ssl-inner {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .last-x,
    .last-x2 {
        flex-direction: column;
    }

    .di-background{
        width: 100%;
        max-width: 100%;
        height: 150px;
    }

    .double-img-container {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .double-img1{
        margin: auto;
    }
    .footer-bottom {
        flex-wrap: wrap;
    }

    #footer-ul-media {
        margin: 0;
        padding: 0;
    }
}
